*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width:100%;
	height: 100%;
}

.stories {
	position: relative;
	height: 100vh;
	width: 320px;
	background: pink;
  margin: auto;
	
  display: grid;
  grid: 1fr / auto-flow 100%;
  gap: 1ch;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior: contain;
  touch-action: pan-x;
}

#time-indicator{
	background: grey;
	position: absolute;
	top:0;
	left: 0;
	height: 7px;
	width:100%;
}


#inner-line{
	background: skyblue;
	height: 100%;
	width:0%;
}


#inner-line.mover{
	animation: barMove 5s infinite;
}


@keyframes barMove{
	0%{
		width:0%;
	}
	100%{
		width:100%;
	}
}

.user {
	width:100%;
	height: 100%;
/*	object-fit: contain;*/
  scroll-snap-align: start;
  scroll-snap-stop: always;
/*
	display: grid;
  grid: [story] 1fr / [story] 1fr;
*/
}

/*
.story {
	width:100%;
	height: 100%;
  grid-area: story;
	background-size: cover;
  background-image:
    var(--bg),
    linear-gradient(to top, lch(98 0 0), lch(90 0 0));
	
	user-select: none;
  touch-action: manipulation;
	
	 transition: opacity .3s cubic-bezier(0.4, 0.0, 1, 1);
}
*/

.user>img{
	width:100%;
	height: 100%;
	object-fit: cover;
}


.story.seen {
    opacity: 0;
    pointer-events: none;
  }


@media (max-width:360px){
	.stories {
		width:100%;
		height: 100vh;
	}
}

